* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px 0 0;
  padding: 0;
  background-color: rgba(45, 45, 186, 0.63);
}
.splash-screen,
.restart-screen {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgb(0 0 0 / 70%);
  z-index: 5;
  display: flex;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.restart-screen {
  display: none;
}
.restart-screen h2 {
  color: white;
  font-size: 39px;
  margin: 0 0 10px;
}
.restart-screen h3 {
  color: white;
  font-size: 20px;
  margin: 0 0 10px;
}

.splash-screen input {
  width: 25%;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #ffffffd4;
  border: none;
  font-size: 20px;
  margin-bottom: 20px;
  color: #f75d02;
}
.splash-screen input::placeholder {
  color: #a73d00a9;
}
.splash-screen input:focus {
  outline: none;
}
.splash-screen h1 {
  margin: 0;
  text-align: center;
  color: white;
  margin-bottom: 20px;
}
.splash-screen h1 p {
  background: linear-gradient(to right, #f75d02, #ffffff);
  background-clip: text;
  color: transparent;
  margin: 0;
}
.splash-screen span,
.restart-screen .restart {
  padding: 15px 20px;
  background-color: rgb(255, 56, 21);
  font-size: 19px;
  border-radius: 4px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
.splash-screen span:hover {
  background-color: tomato;
}

.data-info {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #f75d02 2%, rgb(216, 216, 216));
  padding: 20px;
  border-radius: 4px;
}
.data-info .tries {
  font-weight: bold;
}
.data-info .tries span {
  color: red;
  font-weight: bold;
  font-size: 20px;
}
.data-info #countdown {
  font-weight: bold;
}
@media (max-width: 767px) {
  .data-info #countdown {
    font-weight: bold;
    position: fixed;
    top: 86px;
    background-color: #ffffff;
    padding: 7px 5px;
    z-index: 4;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    opacity: 1;
    left: 0;
  }
}
.data-info #countdown span {
  color: rgb(5, 195, 5);
  font-size: 20px;
}
.game-blocks {
  height: calc(100vh - 110px);
  width: 70%;
  margin: 20px auto 0;
  display: grid;
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(to right, #a9d9f1, white);
  padding: 20px;
  gap: 10px;
  border-radius: 4px;
}
.game-blocks.no-click {
  pointer-events: none;
}
@media (max-width: 767px) {
  .data-info {
    width: 95%;
  }
  .game-blocks {
    width: 99%;
  }
  .splash-screen input {
    width: 80%;
  }
}
.game-block {
  flex: 1 0 calc(25% - 10px);
  height: 130px;
  position: relative;
  transform-style: preserve-3d;
  cursor: pointer;
  transition: transform 0.5s;
  border-radius: 4px;
}
.game-block.is-flipped,
.game-block.is-match {
  transform: rotateY(180deg);
}
.game-block .front {
  background-color: #f75d02;
  line-height: 139.5px;
  position: absolute;
  font-size: 40px;
  border: 3px solid rgb(145, 145, 145);
}
.game-block .front::before {
  content: "?";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.game-block .back {
  transform: rotateY(180deg);
  border: 1px solid rgb(145, 145, 145);
}
.game-block .front,
.game-block .back {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  backface-visibility: hidden;
  color: white;
}
.game-blocks .game-block img {
  width: 100%;
  height: 100%;
}
